.navbar-light .navbar-toggler-icon
{
    background-image:url("/images/navbar/navbaricon.png") !important;
}
.navContainer
{
    background-color: #000000;
}

.navBrand
{
    color: #FFFFFF !important; 
}

.navContainer a{
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF !important;
}
#toggle
{
    background-color: black !important;
}