.Home {
    font-family: Futura;
    color: #ffffff;
}

.Home h1 {
    font-size: 48px;
    text-align: right !important;
    display: block;
    float: right;
    margin-left: -40px;
    padding-bottom: 40px;
    margin-top: -7px;
    
}

.right-side
{
    text-align: right;
}

.right-side h2{
    font-size: 158%;
}

.buttons 
{
    border-width: 0px;
    color: #1d1a1a;
}
.btnLink
{
}
.header-and-pic
{
    padding-top: 50px;
    padding-bottom: 30px;
}

.justHeader{
    padding-right: 6%;
    padding-bottom: 6%;
}

.columnRight
{
    text-align: right;
}
.bottom-blurb
{
    max-width: 700px;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}
